<div class="container">
    <div id="map"></div>

    <div class="sidebar">
        <div class="top-controls">
            <label>Zone Radius:</label>
            <input type="number" [(ngModel)]="zoneRadius" (ngModelChange)="zoneRadiusChanged()" class="text-input" />
            <div class="controls">
                <button (click)="exportEnabledStops()">Export Stops</button>
                <button (click)="fileInput.click()">Import Stops</button>
                <input type="file" #fileInput (change)="importEnabledStops($event)" accept=".txt" hidden />
            </div>
            <hr />
            <h3>
                Stops {{enabledStops.size}} / {{stops.length}} 
            </h3>
            <div>
                <label>Show disabled on map</label>
                <input type="checkbox" [(ngModel)]="showDisabled" (ngModelChange)="resetPlot()" />
            </div>
            <div>
                <label>Show disabled in legend</label>
                <input type="checkbox" [(ngModel)]="showDisabledLegend" />
            </div>
            <div>
                <label>Show radius</label>
                <input type="checkbox" [(ngModel)]="showRadius" (ngModelChange)="resetPlot()" />
            </div>
            <div>
                <label>Show Routes</label>
                <input type="checkbox" [(ngModel)]="showRoutes" (ngModelChange)="resetRoutes()" />
            </div>
            <input [(ngModel)]="searchQuery" placeholder="Search stops..." />
        </div>

        <div class="stop-bar">
            <div *ngFor="let stop of filteredStops()">
                <label>
                    <input type="checkbox" [checked]="enabledStops.has(stop.stop_id)"
                        (change)="toggleStop(stop.stop_id)" class="text-input" />
                    {{ stop.stop_name }}
                </label>
            </div>
        </div>
    </div>
</div>