<div class="container">
    <div id="map"></div>

    <div class="sidebar" [class.collapsed]="sidebarCollapsed">
        <div class="sidebar-content" *ngIf="!sidebarCollapsed">
            <input [(ngModel)]="searchQuery" placeholder="Search stops..." />
            <div class="stop-bar">
                <div *ngFor="let stop of filteredStops()">
                    <label>
                        <input type="checkbox" [checked]="enabledStops.has(stop.stop_id)"
                            (change)="toggleStop(stop.stop_id)" />
                        {{ stop.stop_name }}
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-bar">
            <button (click)="fileInput.click()">Import Stops</button>
            <input type="file" #fileInput (change)="importEnabledStops($event)" accept=".txt" hidden />

            <label>
                <input type="checkbox" [(ngModel)]="showRadius" (ngModelChange)="resetPlot()" />
                Show radius
            </label>
            <label>
                <input type="checkbox" [(ngModel)]="showDisabled" (ngModelChange)="resetPlot()" />
                Show disabled on map
            </label>
            <label>
                <input type="checkbox" [(ngModel)]="showDisabledLegend" />
                Show disabled in legend
            </label>
            <label>
                <input type="checkbox" [(ngModel)]="showRoutes" (ngModelChange)="resetRoutes()" />
                Show Routes
            </label>

        <h3>Stops {{enabledStops.size}} / {{stops.length}}</h3>

        <button (click)="sidebarCollapsed = !sidebarCollapsed">
            {{ sidebarCollapsed ? 'Show Stops' : 'Hide Stops' }}
        </button>
    </div>
</div>